# Exercício 1 - Regressão Linear

Primeiramente, vamos importar as libraries e os dados.

In [1]:
import numpy as np
import pandas as pd
cars_data = pd.read_csv("vehicles_cleaned_train.csv")

Verificação dos dados:

In [2]:
cars_data.head()

,price,year,condition,cylinders,fuel,odometer,transmission,size,type
0,10400,2011,excellent,4 cylinders,gas,81300,automatic,mid-size,sedan
1,6900,2007,excellent,6 cylinders,gas,79000,automatic,full-size,sedan
2,18900,2018,like new,4 cylinders,gas,5000,automatic,full-size,sedan
3,6000,2010,excellent,4 cylinders,gas,97600,automatic,mid-size,hatchback
4,19995,2013,good,6 cylinders,gas,95782,automatic,mid-size,sedan

Obtendo `d`

In [3]:
d = cars_data["price"].values

Agora, vamos centralizar os dados em torno de zero e dividir pelo desvio padrão, a fim de evitar problemas de escala.

In [4]:
numeric_cols = ['year', 'odometer']
cars_data[numeric_cols] = (cars_data[numeric_cols] - cars_data[numeric_cols].mean()) / cars_data[numeric_cols].std()

Transformando as outras variáveis em _Dummies_

In [5]:
X = pd.get_dummies(cars_data, columns=['condition', 'cylinders', 'fuel', 'transmission', 'size', 'type'], dtype=float)

Convertendo os dados de X para uma matriz que utilizaremos nos cálculos:

In [6]:
X['price'] = 1
X = X.to_numpy()

Usando `np.linalg.solve` para descobrir os coeficientes da regressão

In [7]:
wo = np.linalg.solve(X.T @ X, X.T @ d)

Vamos fazer o mesmo tratamento para os dados de teste

In [8]:
test_data = pd.read_csv("vehicles_cleaned_test.csv")
d_teste = test_data["price"].values
numeric_cols = ['year', 'odometer']
test_data[numeric_cols] = (test_data[numeric_cols] - test_data[numeric_cols].mean()) / test_data[numeric_cols].std()
X_teste = pd.get_dummies(test_data, columns=['condition', 'cylinders', 'fuel', 'transmission', 'size', 'type'], dtype=float)
X_teste['price'] = 1
X_teste = X_teste.to_numpy()

Calculando o erro:

In [9]:
erro = d_teste - np.dot(X_teste, wo)
erro_ms = np.mean(erro**2)

In [10]:
print(erro)

[-5435.51242022  3463.10651422  -430.49009808 ...  1443.23831603
 -4121.62597016 -1588.5029398 ]

In [11]:
print(erro_ms)

25853208.573288634